<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
	<title>会员登录</title>
	<style type="text/css">
		html {
	        font-size: 40px;
	    }
	</style>
	<link rel="stylesheet" type="text/css" href="__ROOT__/static/wap/css/common.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/static/wap/css/login.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/static/wap/css/tipmask.css">
</head>
<body>
	<form action="" method="post" id="logins">
	    <div id="app">
	        <div class="t_box_login">
	            <div class="t_logo"><img src="{:getInfo('login_img')}" style="width: 100px;height: 20px;"> <span></span></div>
	            <div class="login_box">
	                <div class="log-item">
		                <i>帐号</i>
	                    <input type="text" placeholder="请输入用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入用户名'" name="account" id="phonenumber">
		            </div>
		            <div class="log-item">
		                <i>密码</i>
	                    <input type="password" placeholder="请输入密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入密码'" name="password" id="password">
		            </div>
		            <div class="op-item">
			            <button type="button" id="login_btn">登录</button>
			        </div>
	                <div class="reg-item">
		                还没有帐号？<a href="/index/login/reg">马上开户</a>
		            </div>
					<div class="reg-item">
						当前在线：<span id="num" style="color: red"></span>人
					</div>
	                <div class="lk-item">
	                    <a href="javascript:;" onclick="alert('忘记密码请联系客服！')" style="float:left">忘记密码？</a>
	                    <a href="{:getInfo('service')}" target="_blank" style="float:right">在线客服</a>
	                </div>
				</div>
	        </div>
	    </div>
	</form>
	<div class="tipMask hide">
	    <div class="cont">
	        <p class="title">温馨提示</p>
	        <p class="stitle contents"></p>
	        <div id="msgBtn">
	            <div class="confirm guanbi" style="background-color:#33B497;">确定</div>
	        </div>
	    </div>
	</div>
</body>
<script src="__ROOT__/static/wap/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
	$(function(){
        $('#reg_btn').click(
            function(){
                window.location.href='/index/login/reg';
            }
        )

		$('#login_btn').click(function(){
			var url = "/index/login";
			$.ajax({
				type : "POST",
				url : url,
				data: {phone:$('#phonenumber').val(),password:$('#password').val()},
				dataType : "json",
				success : function(result){
					if(result.code == 1){
						msg("提示",result.info,2,"/index/user/index");
					}else{
						msg("提示",result.info,1);
					}
				}
			});
		})
	});
	function msg(title, content, type, url) {
        $(".contents").html(content);
        if (type == 1) {
            var btn = '<div class="confirm guanbi"  style="background-color:#33B497;" onclick="$(\'.tipMask\').hide();">确定</div>';
        }
        else {
            var btn = '<div class="confirm guanbi"  style="background-color:#33B497;" onclick="window.location.href=\'' + url + '\'">确定</div>';
        }
        $("#msgBtn").html(btn);
        $(".tipMask").show();
    }
	function getdt() {
		//$.get('/index/index/product');
		//$.get('/index/index/order');
		var num = 41244164;
		num+=Math.ceil(Math.random() * (9999-1001+1) + 1001-1);
		$("#num").html(num);
	}
	getdt();
	window.setInterval("getdt()", 2000);
</script>

</html>
