{include file="public/header" nav="-"}
<style type="text/css">
    html{
        font-size: 120px;
    }
</style>
<script type="text/javascript">
window.onload=function(){
    //设置适配rem
    var change_rem = ((window.screen.width > 450) ? 450 : window.screen.width)/375*100;
    document.getElementsByTagName("html")[0].style.fontSize=change_rem+"px";
    window.onresize = function(){
        change_rem = ((window.screen.width > 450) ? 450 : window.screen.width)/375*100;
        document.getElementsByTagName("html")[0].style.fontSize=change_rem+"px";
    }
}
</script>
<script type="text/javascript" src="__ROOT__/static/wap/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/wap/js/function.js"></script>
<script type="text/javascript" src="__ROOT__/static/wap/js/base64.js"></script>
<script type="text/javascript">
  var Base64 = new Base64();
</script>
<link rel="stylesheet" type="text/css" href="__ROOT__/static/wap/css/ionic.css">
<link rel="stylesheet" type="text/css" href="__ROOT__/static/wap/css/style.css">
<style type="text/css">
    .trade-view .trade_bar{
        bottom:58px !important;
    }
    .box .footer {
        height: 0.52rem;
    }
    .box .footer > div a i {
        margin-top:0 !important;
        width: 20px !important;
        height: 20px !important;
        background-size: auto 18px !important;
    }
    .box .footer > div a i {
    }

    .box .footer > div a span {
        font-size: .12rem !important;
        margin-top: .02rem !important;
    }

    .l_chartDataNav {
        width: 100%;
        height: 1.2rem;
        background: #ff3d3d;
        color: #fff;
        overflow: hidden;
        /*margin-top: 1.2rem;*/
        position: relative
    }
    .l_chartDataNav .l_chartDataNavR {
        width: 60%;
        height: 100%;
        float: left
    }

    .l_chartDataNav .l_chartDataNavR ul {
        width: 100%;
        height: 100%
    }

    .l_chartDataNav .l_chartDataNavR ul li {
        width: 50%;
        height: 50%;
        float: left;
        text-align: center;
        line-height: .6rem;
        font-size: .35rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
    .l_chartDataNav {
        width: 100%;
        height: 0.48rem;
        background: #ff3d3d;
        color: #fff;
        overflow: hidden;
        /*margin-top: 1.2rem;*/
        position: relative
    }

    .l_chartDataNav .l_chartDataNavL {
        width: 40%;
        height: 100%;
        float: left;
        text-align: center;
        line-height:0.48rem;
        font-size: .26rem
    }

    .l_chartDataNav .l_chartDataNavR {
        width: 60%;
        height: 100%;
        float: left
    }

    .l_chartDataNav .l_chartDataNavR ul {
        width: 100%;
        height: 100%
    }

    .l_chartDataNav .l_chartDataNavR ul li {
        width: 50%;
        height: 50%;
        float: left;
        text-align: center;
        line-height: .25rem;
        font-size: .14rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .l_chart {
        width: 100%;
        height: 8rem;
        background: url("/public/jpg/xtx/shijieditu.png") no-repeat;
        background-size: 100% 100%;
        position: relative;
        padding-right: .333333rem
    }
    .l_chart .l_spot {
        background: red;
        left: 1.333333rem
    }

    .l_chart .l_spot, .l_chart .l_spot span {
        position: absolute;
        width: .133333rem;
        height: .133333rem;
        top: 0;
        border-radius: 50%
    }

    .l_chart .l_spot span {
        left: 0
    }

    .l_chart .l_spot .l_bigSpot {
        width: .133333rem;
        height: .133333rem;
        background: rgba(240, 101, 105, .8);
        animation: big 1.5s infinite
    }

    .l_chart .l_spot .l_centerSpot {
        width: .2rem;
        height: .2rem;
        left: -.026rem;
        top: -.0288rem;
        background: #fff
    }

    .l_chart .l_spot .l_smallSpot {
        background: #ef4b4f
    }

    .l_chart .l_showKlineVal {
        display: none;
        width: 100%;
        height: .026667rem;
        position: absolute
    }

    .l_chart .l_showKlineVal div {
        width: 2rem;
        height: .666667rem;
        position: absolute;
        left: 50%;
        top: -.333333rem;
        margin-left: -1rem;
        text-align: center;
        line-height: .666667rem;
        color: #fff;
        border-radius: .133333rem
    }
    canvas{
        height:452px !important;
    }
    #container>.txt2 {
	    position: absolute;
	    left: 13px;
	    top: 395px;
    }

    .l_chartDataNav_wrap {

    }

    .l_chartDataNav_wt {
        color: #0ecb80;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
    }

    .l_chartDataNav_L {
        font-size: 37px;
        margin-right: 7px;
    }

    .l_chartDataNav_R {
        width: 60px;
        font-size: 13px;
    }

    .l_chartDataNav_R span {
        display: block;
    }

    .l_chartDataNav_bt {
        display: flex;
        font-size: 14px;
        height: 34px;
        align-items: center;
        font-weight: 700;
        border-top: 1px #333 solid;
    }

    .l_chartDataNav_bt div {
        flex: 0 0 50%;
        padding: 5px 10px;
        color: #828095;
        text-align: center;
    }

    .l_chartDataNav_bt span {
        margin-left: 20px;
    }

    .l_chartDataNav_bt div:first-child {
        border-right: 1px #333 solid;
    }

    .l_chartDataNav_bt div:first-child span {
        color: #e45360
    }

    .l_chartDataNav_bt div:last-child span {
        color: #0ecb80
    }
</style>
<script>
    var order_type = 0;
    var order_pid = {$info.id};
    var order_price = {$order_price[0]};
    var order_sen = {$info.protime_1 * 60};
    var order_shouyi = {$info.proscale_1?:0};
    var order_kuishun = {$info.lossrate_1?:0};
    var newprice = {$info.Price};  //实时价格
    var rawData_data = [];
    var my_money = {$user.money};
    var order_min_price = {:getinfo('order_min')};
    var order_max_price = {:getinfo('order_max')};
</script>
<style type="text/css">
    .period-widget, .amount-box{margin-right:25px!important;}
    .amount-box{margin-bottom:10px!important}
    .invest_account{margin-bottom:0!important;}
    .period-widget-content span{font-size:12px!important;}
</style>
<div id="app">
    <div class="box">
        <ion-nav-bar class="bar-stable headerbar nav-bar-container" nav-bar-transition="ios" nav-bar-direction="exit" nav-swipe="">
            <div class="nav-bar-block" nav-bar="active">
                <ion-header-bar class="bar-stable headerbar bar bar-header" align-title="center">
                    <div class="buttons buttons-left" style="transition-duration: 0ms;"><span class="left-buttons">
                            <a href="javascript:history.go(-1);" class="back-button" style="transition-duration: 0ms;">
                                <i class="icon ion-ios-arrow-left"></i>
                            </a>
                        </span></div>
                    <div class="title title-center header-item goodstitle" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px); left: 48px; right: 48px;font-size:18px;">{$info['title']} </div>
                </ion-header-bar>
            </div>
        </ion-nav-bar>
        <ion-nav-view class="view-container" nav-view-transition="ios" nav-view-direction="exit" nav-swipe="">
            <ion-view class="trade-view pane" hide-nav-bar="false" state="trade" nav-view="active" style="opacity: 1; transform: translate3d(0%, 0px, 0px);">
                <ion-content class="trade-content content-background scroll-content ionic-scroll  has-header" scroll="true">
                    <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
                        <div class="l_chartDataNav_wrap">
                            <div class="l_chartDataNav_wt">
                                <div class="l_chartDataNav_L" id="jk">{$info.Price}</div>
                                <div class="l_chartDataNav_R">
                                    <span>{$info.Open}</span>
                                    <span>{$info.Close}</span>
                                </div>
                            </div>
                            <div class="l_chartDataNav_bt">
                                <div>最高<span class="a">{$info.High}</span></div>
                                <div>最低<span class="b">{$info.Low}</span></div>
                            </div>
                        </div>
                        <div class="l_chartDataNav" style="background:#000;display:none;">
                            
                            <div class="l_chartDataNavR">
                                <ul>
                                    <li>今开：{$info.Open} </li>
                                    <li style="color:#ff3d3d;">最高：{$info.High}</li>
                                    <li>昨收：{$info.Close}</li>
                                    <li style="color:#26a848;">最低：{$info.Low}</li>
                                </ul>
                            </div>
<!--                            <div class="l_NoviceStepBox step4"></div>-->
<!--                            <div class="l_NoviceStepBox step5"></div>-->
<!--                            <div class="l_NoviceStepBox step6"></div>-->
<!--                            <div class="l_NoviceStepBox step7"></div>-->
<!--                            <div class="l_NoviceStepBox step8"></div>-->
                        </div>
                        <nav>
                            <article>
                                <span class="trade-chart-type stock active Kxian" onclick="change_chart_type('stock')">K线</span>
                                <span class="trade-chart-type line zoushi" onclick="change_chart_type('line')">波动</span>
                            </article>
                            <section class="trade-chart-period 1M active" onclick="change_chart_period('1M')">1M</section>
                            <section class="trade-chart-period 5M" onclick="change_chart_period('5M')">5M</section>
                            <section class="trade-chart-period 15M" onclick="change_chart_period('15M')">15M</section>
                            <section class="trade-chart-period 30M" onclick="change_chart_period('30M')">30M</section>
                            <section class="trade-chart-period 1H" onclick="change_chart_period('1H')">1H</section>
                            <section class="trade-chart-period 1D" onclick="change_chart_period('1D')">1D</section>
                        </nav>
                        <footer>
                            <div id="container">
                                <div id="ecKx"></div>
                                <div class="txt1">Time:<span class="a"></span><span class="b"></span><span class="c"></span><span class="d"></span><span class="e"></span></div>
                                <div class="txt2"><span class="a DIFF"><i></i></span><span class="b DEA"><i></i></span><span class="c MACD"><i></i></span></div>
                            </div>
                        </footer>
                    </div>
                    <div class="scroll-bar scroll-bar-v">
                        <div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;"></div>
                    </div>
                </ion-content>
                <div class="trade_bar">
<!--                    <section onclick="toggle_order_confirm_panel('weituo')" class="" style="background: #3399ff;">-->
<!--                        &lt;!&ndash;                        <i class="iconfont icon&#45;&#45;18"></i>&ndash;&gt;-->
<!--                        <p class="weituo">委托</p>-->
<!--                    </section>-->
                    <section onclick="toggle_order_confirm_panel('lookup')" class="" style="background: #e45360;">
<!--                        <i class="iconfont icon&#45;&#45;18"></i>-->
                        <p class="maizhang">买涨</p>
                    </section>
                    <section onclick="toggle_order_confirm_panel('lookdown')" class="" style="background: #0ecb80">
<!--                        <i class="iconfont icon&#45;&#45;17"></i>-->
                        <p class="maidie">买跌</p>
                    </section>
                </div>
                <!-- ngInclude: 'templates/order-confirm-panel.html' -->
                <div ng-include="'templates/order-confirm-panel.html'" class="">
                    <div class="pro_mengban ">
                        <div class="order-confirm-panel">
                            <div class="panel-header">
                                <div>
                                    订单确认
                                    <div class="close" onclick="toggle_order_close_panel()">
                                        <i class="icon ion-ios-close-empty close_tag"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="period" style="height:auto">
                                    <p class="end_time" style="vertical-align: inherit;">结算时间/赔率</p>
                                    <ion-scroll direction="x" class="scroll-view ionic-scroll scroll-x" style="height:auto">
                                        <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
                                            <div class="period-widget-view">
                                                {if $info.protime_1 > 0 }
                                                <div class="period-widget active" data-sen="{$info.protime_1*60}" data-shouyi="{$info.proscale_1}" data-kuishun="{$info.lossrate_1}" style="height:auto" onclick="getdt('order_amount_1')">
                                                    <div class="period-widget-content">
                                                        <span class="final_time">{$info.protime_1*300}</span>
                                                        <span class="final_unit">秒|{$info.protime_1*300}%</span>
                                                    </div>
                                                    {if $info.showps==1 or $info.showps2==1}
                                                    <div class="period-widget-footer period_footer ng-binding" style="font-size:12px;height:auto">
                                                        {if $info.showps==1}收益：{$info.proscale_1}%<br>{/if}
                                                        {if $info.showps2==1}亏损：-{$info.lossrate_1}%{/if}
                                                    </div>{/if}
                                                </div>
                                                {/if}
                                                {if $info.protime_2 > 0 }
                                                <div class="period-widget" data-sen="{$info.protime_2*60}" data-shouyi="{$info.proscale_2}" data-kuishun="{$info.lossrate_2}" style="height:auto" onclick="getdt('order_amount_2')">
                                                    <div class="period-widget-content">
                                                        <span class="final_time">{$info.protime_2*30}</span>
                                                        <span class="final_unit">秒|90</span>
                                                    </div>
                                                    {if $info.showps==1 or $info.showps2==1}
                                                    <div class="period-widget-footer period_footer ng-binding" style="font-size:12px;height:auto">
                                                       {if $info.showps==1}收益：{$info.proscale_2}%<br>{/if}
                                                        {if $info.showps2==1}亏损：-{$info.lossrate_2}%{/if}
                                                    </div>{/if}
                                                </div>
                                                {/if}
                                                {if $info.protime_3 > 0 }
                                                <div class="period-widget" data-sen="{$info.protime_3*60}" data-shouyi="{$info.proscale_3}" data-kuishun="{$info.lossrate_3}" style="height:auto" onclick="getdt('order_amount_3')">
                                                    <div class="period-widget-content">
                                                        <span class="final_time">{$info.protime_3*30}</span>
                                                        <span class="final_unit">秒195%</span>
                                                    </div>
                                                    {if $info.showps==1 or $info.showps2==1}
                                                    <div class="period-widget-footer period_footer ng-binding" style="font-size:12px;height:auto">
                                                         {if $info.showps==1}收益：{$info.proscale_3}%<br>{/if}
                                                        {if $info.showps2==1}亏损：-{$info.lossrate_3}%{/if}
                                                    </div>{/if}
                                                </div>
                                                {/if}
                                                {if $info.protime_4 > 0 }
                                                <div class="period-widget" data-sen="{$info.protime_4*60}" data-shouyi="{$info.proscale_4}" data-kuishun="{$info.lossrate_4}" style="height:auto" onclick="getdt('order_amount_4')">
<!--                                                    <div class="period-widget-header">-->
<!--                                                        结算时间-->
<!--                                                    </div>-->
                                                    <div class="period-widget-content">
                                                        <span class="final_time">{$info.protime_4*60}</span>
                                                        <span class="final_unit">秒</span>
                                                    </div>
                                                    {if $info.showps==1 or $info.showps2==1}
                                                    <div class="period-widget-footer period_footer ng-binding" style="font-size:12px;height:auto">
                                                        {if $info.showps==1}收益：{$info.proscale_4}%<br>{/if}
                                                        {if $info.showps2==1}亏损：-{$info.lossrate_4}%{/if}
                                                    </div>
                                                    {/if}
                                                </div>
                                                {/if}
                                            </div>
                                        </div>
                                        <div class="scroll-bar scroll-bar-h">
                                            <div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleX(1); width: 289px;"></div>
                                        </div>
                                    </ion-scroll>
                                </div>
                                <!--                                                    <div class="period-widget-header">-->
<!--                                                        结算时间-->
<!--                                                    </div>-->
 <p class="end_time" style="vertical-align: inherit;">投资金额</p>
                                <div class="amount">
                                     
                                    <p class="invest_account tousijine">
                                        <span class=" ng-hide  no-money">投资金额余额不足，请充值！</span>
                                        <span class="ng-hide no-max">单笔投资金额不超过<label id="max"></label></span>
                                        <span class="ng-hide no-min">单笔投资金额不少于<label id="min"></label></span>
                                    </p>
                                    <ion-scroll direction="x" class="scroll-view ionic-scroll scroll-x">
                                        <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
                                            <div class="amount-view" id="amount_view">
<!--                                                {volist name="order_price" id="vo"}-->
<!--                                                <div class="amount-box ng-binding" data-price="{$vo}">-->
<!--                                                    ￥{$vo} </div>-->
<!--                                                {/volist}-->
                                            </div>
                                        </div>
                                        <div class="scroll-bar scroll-bar-h">
                                            <div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleX(1); width: 192px;"></div>
                                        </div>
                                    </ion-scroll>
                                    <label class="other-amount">
                                        <input type="number" placeholder="其他金额" ng-init="onfocus=false" ng-focus="onfocus==true" ng-model="order_params.other_amount" ng-keydown="min_money()" class="ng-pristine ng-untouched ng-valid ng-empty">
                                    </label>
                                </div>
                                <div class="info-view">
                                    <div class="ng-binding my-money">余额: ￥ <span class="pay_mymoney">{$user.money}</span></div>
                                    <div class="ng-binding">手续费：<span>{:getinfo('order_charge')}</span>%</div>
                                </div>
                                <div class="order-detail-view">
                                    <div class="order-detail">
                                        <div class="row btn_confirm">
                                            <div class="col">
                                                <button class="button" onclick="addorder()">
                                                    确认下单
                                                </button>
                                            </div>
                                        </div>
                                      
                                        <div class="row fields">
                                            <div class="col">名称</div>
                                            <div class="col">方向</div>
                                            <div class="col">现价</div>
                                            <div class="col">金额</div>
                                        </div>
                                        <div class="row">
                                            <div class="col qoute_name ng-binding goodstitle">{$info['title']}222 </div>
                                            <div class="col ng-binding order_type">买涨</div>
                                            <div class="col ng-binding rise col-nowprice">{$info['Price']}</div>
                                            <div class="col ng-binding" id="money"></div>
                                            
                                        </div>
                                          <p class="expect_profit">
                                            <span class="ng-binding">预期收益 : ￥ <span id="yuqi"></span></span>
                                            &nbsp;&nbsp;
                                            <span class="ng-binding">保底金额 : ￥ 0.00</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ngInclude: 'templates/order-state-panel.html' -->
                <div class="order_mengban" id="div2" style="width:100%;height:100%;">
                    <div>
                        <div>
                            <div class="order-state-panel">
                                <div class="panel-header">
                                    <div class="close" onclick="close_order()">
                                        <i class=" icon ion-ios-close-empty"></i>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="paysuccess  ng-hide" ng-show="order_result.status == 'SUCCESS'">
                                        <div class="circle_wrapper" ng-show="order_params.cycle.time.indexOf('-') == -1">
                                            <div class="right_circle">
                                                <img class="img_circle_right" style="-webkit-animation: run 60s linear;" src="/static/wap/images/right_circle1.png">
                                            </div>
                                            <div class="left_circle">
                                                <img class="img_circle_lift" style="-webkit-animation: runaway 60s linear;" src="/static/wap/images/left_circle1.png">
                                            </div>
                                        </div>
                                        <div class="row remaining count_remaining" ng-show="order_params.cycle.time.indexOf('-') == -1">
                                            <div class="col">
                                                <div class="ng-binding pay_order_sen"></div>
                                                <div>现价</div>
                                                <div class="ng-binding newprice">{$info.Price}</div>
                                            </div>
                                        </div>
                                        <div class="pupil_success ng-hide" ng-show="order_params.cycle.time.indexOf('-') >= 0">
                                            <p>交易成功，等待结算</p>
                                            <p class="ng-binding">
                                                <span>剩余时间：</span>
                                                天Invalid Date
                                            </p>
                                        </div>
                                        <div class="row info_list">
                                            <div class="col col-15 first_info">
                                                <p>方向</p>
                                                <p class="ng-binding pay_order_type"></p>
                                            </div>
                                            <div class="col col-30">
                                                <p>金额</p>
                                                <p class="ng-binding">￥<span class="pay_order_price"></span></p>
                                            </div>
                                            <div class="col col-30">
                                                <p>执行价</p>
                                                <p class="ng-binding pay_order_buypricee"></p>
                                            </div>
                                            <div class="col col-25 last_info">
                                                <p>预测结果</p>
                                                <p class="ng-binding yuce"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wait" ng-show="order_result.status == 'POST'">
                                        <div class="row">
                                            <div class="col ng-binding">
                                                <i class="ion-paper-airplane"></i>
                                                请稍后……
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fail ng-hide" ng-show="order_result.status == 'FAIL'">
                                        <div class="row">
                                            <div class="col ng-binding">
                                                <i class="ion-close-circled"></i>
                                                正在提交订单
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fail ng-hide order_fail" ng-show="order_result.status == 'FAIL'" style="">
                                        <div class="row">
                                            <div class="col ng-binding">
                                                <i class="ion-close-circled"></i>
                                                <span class="fail-info" style="    font-size: 18px;color: #fff;"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ordersuccess ng-hide" style="">
                                        <div class="row remaining finish_remaining">
                                            <div class="col">
                                                <div class="result_profit ng-binding " style=""></div>
                                                <div class="expired_statements">到期结算完成</div>
                                            </div>
                                        </div>
                                        <div class="row info_list">
                                            <div class="col col-15 first_info">
                                                <p>方向</p>
                                                <p class="ng-binding pay_order_type"></p>
                                            </div>
                                            <div class="col col-30">
                                                <p>金额</p>
                                                <p class="ng-binding">￥<span class="pay_order_price"></span></p>
                                            </div>
                                            <div class="col col-30">
                                                <p>执行价</p>
                                                <p class="ng-binding pay_order_buypricee"></p>
                                            </div>
                                            <div class="col col-25 last_info">
                                                <p>成交价</p>
                                                <p class="ng-binding rise endprice" style=""></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row button_row">
                                        <div class="col">
                                            <button class="button" onclick="continue_order()">继续下单</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ngInclude: 'templates/history-order-panel.html' -->
                <div class="">
                    <div class="history-panel" ng-include="1">
                        <div class="panel-header chicangmingxi">
                            <div class="close" onclick="toggle_history_order_panel()">
                                <i class="icon ion-ios-close-empty"></i>
                            </div>
                        </div>
                        <div class="trade_history_list">
                            <ion-scroll style="height: 100%" class="scroll-view ionic-scroll scroll-y">
                                <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
                                    <ul>
                                    </ul>
                                    <!-- ngIf: has_more_order -->
                                </div>
                                <div class="scroll-bar scroll-bar-v">
                                    <div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;"></div>
                                </div>
                            </ion-scroll>
                        </div>
                    </div>
                </div>
            </ion-view>
        </ion-nav-view>
        <div class="backdrop"></div>
        <div class="ionic_toast">
            <div class="toast_section" ng-class="ionicToast.toastClass" ng-style="ionicToast.toastStyle" ng-click="hideToast()" style="display: none; opacity: 0;"><span class="ionic_toast_close"><i class="ion-android-close toast_close_icon"></i></span><span ng-bind-html="ionicToast.toastMessage" class="ng-binding"></span></div>
        </div>
        <div class="click-block click-block-hide"></div>
        <div class="modal-backdrop hide">
            <div class="modal-backdrop-bg"></div>
            <div class="modal-wrapper" ng-transclude="">
                <ion-modal-view class="order-modal modal slide-in-up ng-leave ng-leave-active">
                    <ion-header-bar class="order-modal-header bar bar-header">
                        <h1 class="title" style="left: 54px; right: 54px;">资金流水</h1>
                        <div class="close" ng-click="capital_history_modal_hide()">
                            <i class="icon ion-ios-arrow-left"></i>
                        </div>
                    </ion-header-bar>
                    <ion-content class="person_money_list scroll-content ionic-scroll  has-header">
                        <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
                            <ion-scroll style="height:100%" class="scroll-view ionic-scroll scroll-y">
                                <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
                                    <ul>

                                    </ul>
                                </div>
                                <div class="scroll-bar scroll-bar-v">
                                    <div class="scroll-bar-indicator scroll-bar-fade-out" style="height: 0px; transform: translate3d(0px, 0px, 0px) scaleY(1); transform-origin: center bottom 0px;"></div>
                                </div>
                            </ion-scroll>
                        </div>
                        <div class="scroll-bar scroll-bar-v">
                            <div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;"></div>
                        </div>
                    </ion-content>
                    <div class="button-bar">
                        <a class="button button-dark" ng-click="capital_history_modal_hide()">关闭</a>
                    </div>
                </ion-modal-view>
            </div>
        </div>
        {include file="public/footer" menu='goods'}
    </div>
</div>
</body>
<script>
    var min = 0;
    var max = 0;
    function getdt(index) {
        //$.get('/index/index/product');
        //$.get('/index/index/order');
        $.get('/index/index/ajaxamount?id={$info.id}&key='+index, '', function (datajson) {
            var pro = eval('(' + datajson + ')');
            var amount_view = '';
            $.each(pro, function (k, v) {
                if(k === 0){
                    min =  v;
                }
                if(k === pro.length-1){
                    max = v;
                }
                amount_view += '<div class="amount-box ng-binding" data-price="'+v+'" onclick="test(this)">￥'+v+'</div>';
            })
            $('#max').html(max)
            $('#min').html(min)
            $('#amount_view').html(amount_view);
            $('.amount-box').eq(0).click();
        });

    }
    function test(that){
        $('.amount-box').removeClass('active');
        $('.other-amount').removeClass('active');
        $(that).addClass('active');
        order_price = $(that).attr('data-price');
        $('#money').html(' ￥' + order_price);
        if (my_money < order_price) {
            $('.no-money').removeClass('ng-hide');
        } else {
            $('.no-money').addClass('ng-hide');
        }
        $('.no-min').addClass('ng-hide');
        $('.no-max').addClass('ng-hide');
        var yuqi = (((order_shouyi * 0.01 * order_price) * 10 + order_price * 10) / 10).toFixed(2);
        $('#yuqi').html(yuqi)
    }
    test(null);
    getdt('order_amount_1');

</script>
<script type="text/javascript" src="__ROOT__/static/wap/js/order.js"></script>
<script type="text/javascript" src="__ROOT__/static/theme/index/js/layer.js"></script>
<script type="text/javascript" src="__ROOT__/static/wap/js/lodash.min.js"></script>
<script type="text/javascript" src="__ROOT__/static/wap/js/chardata.js"></script>
<script type="text/javascript" src="__ROOT__/static/wap/js/echarts.js"></script>
<script type="text/javascript" src="__ROOT__/static/wap/js/m.js"></script>
<script>
    setInterval('getdata({$info.id})', 1000);
    setInterval("window.location.reload();", 1000 * 60 * 5);
    $('.amount-box').eq(0).click();
</script>
<script>
    var flag = false;
    var cur = {
        x: 0,
        y: 0
    }
    var nx, ny, dx, dy, x, y;

    function down() {
        flag = true;
        var touch;
        if (event.touches) {
            touch = event.touches[0];
        } else {
            touch = event;
        }
        cur.x = touch.clientX;
        cur.y = touch.clientY;
        dx = div2.offsetLeft;
        dy = div2.offsetTop;
    }

    function move() {

        if (flag) {
            var touch;
            if (event.touches) {
                touch = event.touches[0];
            } else {
                touch = event;
            }
            nx = touch.clientX - cur.x;
            ny = touch.clientY - cur.y;
            x = dx + nx;
            y = dy + ny;
            div2.style.left = x + "px";
            div2.style.top = y + "px";
            //阻止页面的滑动默认事件
            document.addEventListener("touchmove", function() {
                event.preventDefault();
            }, false);
        }
    }
    //鼠标释放时候的函数
    function end() {
        flag = false;
    }
    var div2 = document.getElementById("div2");
    div2.addEventListener("mousedown", function() {
        down();
    }, false);
    div2.addEventListener("touchstart", function() {
        down();
    }, false)
    div2.addEventListener("mousemove", function() {
        move();
    }, false);
    div2.addEventListener("touchmove", function() {
        move();
    }, false)
    document.body.addEventListener("mouseup", function() {
        end();
    }, false);
    div2.addEventListener("touchend", function() {
        end();
    }, false);
</script>
</body>

</html>