{extend name='akszadmin@main'}
{block name="content"}
<form onsubmit="return false;"  data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">
    <div class="think-box-shadow padding-40">
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs4 relative">
                <span class="color-green">网站名称</span>
                <input name="webname" class="layui-input" placeholder="请输入网站名称" value="{$vo.webname|default=''}" required>
            </label>
            <label class="layui-col-xs4 relative">
                <span class="color-green">网站域名</span>
                <input name="domain" class="layui-input" placeholder="请输入网站域名" value="{$vo.domain|default=''}" required>
            </label>
            <label class="layui-col-xs4 relative">
                <span class="color-green">公司名称</span>
                <input name="company" class="layui-input" placeholder="请输入公司名称" value="{$vo.company|default=''}" required>
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs4 relative">
                <span class="color-green">公司电话</span>
                <input name="tel" class="layui-input" placeholder="请输入公司电话" value="{$vo.tel|default=''}" required>
            </label>
            <label class="layui-col-xs8 relative">
                <span class="color-green">公司地址</span>
                <input name="address" required class="layui-input" placeholder="请输入公司地址" value="{$vo.address|default=''}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs12 relative">
                <span class="color-green">网站公告</span>
                <input name="notice" class="layui-input" placeholder="请输入网站公告" value="{$vo.notice|default=''}">
            </label>
        </div>
        <!--<div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs12 relative">
                <span class="color-green">登录公告</span>
                <input name="notice2" class="layui-input" placeholder="请输入登录公告" value="{$vo.notice2|default=''}">
            </label>
        </div>-->
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6 relative">
                <span class="color-green">客服链接</span>
                <input name="service" class="layui-input" placeholder="请输入客服链接" value="{$vo.service|default=''}" required>
            </label>
            <!--<label class="layui-col-xs6 relative">-->
            <!--    <span class="color-green">APP下载连接</span>-->
            <!--    <input name="app" required class="layui-input" placeholder="请输入APP下载连接" value="{$vo.app|default=''}">-->
            <!--</label>-->
            <input name="app" type="hidden" required class="layui-input" placeholder="请输入APP下载连接" value="{$vo.app|default=''}">
        </div>

        <div class="layui-form-item layui-row layui-col-space15">
            <!--<label class="layui-col-xs6 relative">-->
            <!--    <span class="color-green">APP下载说明</span>-->
            <!--    <input name="appname" class="layui-input" placeholder="请输入下载说明" value="{$vo.appname|default=''}">-->
            <!--</label>-->
            <input name="appname" type="hidden" class="layui-input" placeholder="请输入下载说明" value="{$vo.appname|default=''}">
            <label class="layui-col-xs6 relative">
                <span class="color-green">ICP备案号</span>
                <input name="icp" class="layui-input" placeholder="请输入ICP备案号" value="{$vo.icp|default=''}">
            </label>
           <!-- <label class="layui-col-xs6 relative">
                <span class="color-green">客服微信号</span>
                <input name="wechat" class="layui-input" placeholder="请输入客服微信号" value="{$vo.wechat|default=''}">
            </label>-->
        </div>

        <div class="layui-form-item layui-row layui-col-space15" style="display: none;">
            <label class="layui-col-xs4 relative">
                <span class="color-green">实名开关</span>
                <select class="layui-select" name="cert" required>
                    {foreach ['0'=>'关闭','1'=>'开启'] as $k=>$v}
                    <!--{eq name='$vo.cert' value='$k.""'}-->
                    <option selected value="{$k}">{$v}</option>
                    <!--{else}-->
                    <option value="{$k}">{$v}</option>
                    <!--{/eq}-->
                    {/foreach}
                </select>
            </label>
            <label class="layui-col-xs8 relative">
                <span class="color-green">实名认证APPCODE</span>
                <input name="linetoken" class="layui-input" placeholder="请输入实名认证APPCODE" value="{$vo.linetoken|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-row layui-col-space15" style="display: none;">
            <label class="layui-col-xs4 relative">
                <span class="color-green">银行卡认证开关</span>
                <select class="layui-select" name="bank" required>
                    {foreach ['0'=>'关闭','1'=>'开启'] as $k=>$v}
                    <!--{eq name='$vo.bank' value='$k.""'}-->
                    <option selected value="{$k}">{$v}</option>
                    <!--{else}-->
                    <option value="{$k}">{$v}</option>
                    <!--{/eq}-->
                    {/foreach}
                </select>
            </label>
            <label class="layui-col-xs8 relative">
                <span class="color-green">银行卡认证APPCODE</span>
                <input name="banktoken" class="layui-input" placeholder="请输入银行卡认证APPCODE" value="{$vo.banktoken|default=''}">
            </label>
        </div>

        <!--<div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs4 relative">
                <span class="color-green">签到显示理财</span>
                <select class="layui-select" name="qdlcopen" required>
                    {foreach ['0'=>'关闭','1'=>'开启'] as $k=>$v}
                    &lt;!&ndash;{eq name='$vo.qdlcopen' value='$k.""'}&ndash;&gt;
                    <option selected value="{$k}">{$v}</option>
                    &lt;!&ndash;{else}&ndash;&gt;
                    <option value="{$k}">{$v}</option>
                    &lt;!&ndash;{/eq}&ndash;&gt;
                    {/foreach}
                </select>
            </label>
            <label class="layui-col-xs8 relative">
                <span class="color-green">签到天数</span>
                <input name="qdnum" type="number" class="layui-input" placeholder="请输入签到天数" value="{$vo.qdnum|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs12 relative">
                <span class="color-green">签到理财公告</span>
                <input name="qdnotice" class="layui-input" placeholder="请输入签到理财公告" value="{$vo.qdnotice|default=''}">
            </label>
        </div>-->

        <!--<div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6 relative">
                <span class="color-green">抽奖开关</span>
                <select class="layui-select" name="prize" required>
                    {foreach ['0'=>'关闭','1'=>'开启'] as $k=>$v}
                    &lt;!&ndash;{eq name='$vo.prize' value='$k.""'}&ndash;&gt;
                    <option selected value="{$k}">{$v}</option>
                    &lt;!&ndash;{else}&ndash;&gt;
                    <option value="{$k}">{$v}</option>
                    &lt;!&ndash;{/eq}&ndash;&gt;
                    {/foreach}
                </select>
            </label>
            <label class="layui-col-xs6 relative">
                <span class="color-green">积分商城开关</span>
                <select class="layui-select" name="jifendh" required>
                    {foreach ['0'=>'关闭','1'=>'开启'] as $k=>$v}
                    &lt;!&ndash;{eq name='$vo.jifendh' value='$k.""'}&ndash;&gt;
                    <option selected value="{$k}">{$v}</option>
                    &lt;!&ndash;{else}&ndash;&gt;
                    <option value="{$k}">{$v}</option>
                    &lt;!&ndash;{/eq}&ndash;&gt;
                    {/foreach}
                </select>
            </label>
        </div>-->

        <div class="layui-form-item layui-row layui-col-space15">
            <!-- <label class="layui-col-xs3 relative" style="display: none;">
                <span class="color-green">APP防封连接</span>
                <input name="appff" class="layui-input" placeholder="请输入APP防封连接" value="{$vo.appff|default=''}">
            </label> -->
            <label class="layui-col-xs3 relative">
                <span class="color-green">是否开启提现</span>
                <select class="layui-select" name="open_cash">
                    {foreach ['0'=>'关闭','1'=>'开启'] as $k=>$v}
                    &lt;!&ndash;{eq name='$vo.open_cash' value='$k.""'}&ndash;&gt;
                    <option selected value="{$k}">{$v}</option>
                    &lt;!&ndash;{else}&ndash;&gt;
                    <option value="{$k}">{$v}</option>
                    &lt;!&ndash;{/eq}&ndash;&gt;
                    {/foreach}
                </select>
            </label>
            
            <label class="layui-col-xs3 relative">
                <span class="color-green">开始提现时间(例：8:59)</span>
                <input name="cash_start" class="layui-input" placeholder="请输入开始提现时间" value="{$vo.cash_start|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">结束提现时间(例：17:59)</span>
                <input name="cash_end" class="layui-input" placeholder="请输入结束提现时间" value="{$vo.cash_end|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">每笔提现手续费百分比</span>
                <input name="cash_charge" class="layui-input" placeholder="请输入每笔提现手续费" value="{$vo.cash_charge|default=''}">
            </label>
            
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3 relative">
                <span class="color-green">最低提现金额</span>
                <input name="cash_min" class="layui-input" placeholder="请输入最低提现金额" value="{$vo.cash_min|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">单笔提现最大金额</span>
                <input name="cash_max" class="layui-input" placeholder="请输入单笔提现最大金额" value="{$vo.cash_max|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">当日累计最高提现金额</span>
                <input name="cash_day_max" class="layui-input" placeholder="请输入当日累计最高提现金额" value="{$vo.cash_day_max|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">每日最多提现次数</span>
                <input name="cash_max_num" class="layui-input" placeholder="请输入每日最多提现次数" value="{$vo.cash_max_num|default=''}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6 relative">
                <span class="color-green">充值金额【以 | 符号隔开】</span>
                <input name="recharge_amount" class="layui-input" placeholder="请输入充值金额" value="{$vo.recharge_amount|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">单笔最小入金</span>
                <input name="recharge_min" class="layui-input" placeholder="请输入单笔最小入金" value="{$vo.recharge_min|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">单笔最大入金</span>
                <input name="recharge_max" class="layui-input" placeholder="请输入单笔最大入金" value="{$vo.recharge_max|default=''}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6 relative">
                <span class="color-green">投资金额【以 | 符号隔开】</span>
                <input name="order_amount" class="layui-input" placeholder="请输入投资金额" value="{$vo.order_amount|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">每笔平台收取手续费百分比</span>
                <input name="order_charge" class="layui-input" placeholder="请输入每笔平台收取手续费" value="{$vo.order_charge|default=''}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3 relative">
                <span class="color-green">单笔最低下单金额</span>
                <input name="order_min" class="layui-input" placeholder="请输入单笔最低下单金额" value="{$vo.order_min|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">单笔最高下单金额</span>
                <input name="order_max" class="layui-input" placeholder="请输入单笔最高下单金额" value="{$vo.order_max|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">最大持仓金额</span>
                <input name="order_max_amount" class="layui-input" placeholder="请输入最大持仓金额" value="{$vo.order_max_amount|default=''}">
            </label>
            <label class="layui-col-xs3 relative">
                <span class="color-green">最大持仓单数</span>
                <input name="order_max_count" class="layui-input" placeholder="请输入最大持仓单数" value="{$vo.order_max_count|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs12 relative">
                <span class="color-green">禁止IP<span class="color-red">（多个IP请用半角 , 号隔开）</span></span>
                <input name="ban_ip" class="layui-input" placeholder="请输入禁止IP（多个IP请用半角 , 号隔开）" value="{$vo.ban_ip|default=''}">
            </label>
        </div>

        <!-- <div class="layui-form-item block" style="display: none;">
            <span class="label-required-prev color-green">合约合同设置</span>
            <textarea name="contract">{$vo.contract|default=''|raw}</textarea>
        </div>

        <div class="layui-form-item block" style="display: none;">
            <span class="label-required-prev color-green">矿机合同设置</span>
            <textarea name="contract_kj">{$vo.contract_kj|default=''|raw}</textarea>
        </div> -->

        <div class="layui-form-item text-center">
            {notempty name='vo.id'}<input type="hidden" name="id" value="{$vo.id}">{/notempty}
            <button class="layui-btn" type="submit">保存设置</button>
        </div>
    </div>
</form>
{/block}
{block name='script'}
<script>
    window.form.render();
    require(['ckeditor', 'angular'], function () {
        window.createEditor('[name="contract"]', {height: 500});
        window.createEditor('[name="contract_kj"]', {height: 500});
    })
</script>
{/block}
