{include file="public/header" nav="银行卡管理"}
<link rel="stylesheet" type="text/css" href="__ROOT__/static/wap/css/box_pay.css">
<div id="app">
    <div class="box">
        <div class="jun-content">
            <div class="f_box_bank">
                <div class="t_header">
                    <span><img src="__ROOT__/static/wap/images/goback.png" alt="" onClick="javascript:history.back()"></span> 
                    <span><i>银行卡管理</i></span>
                </div>
                <div class="f_content">
				{if condition="$bank"}
                    {volist name="bank" id="b"}
                    <ul class="f_withdraw">
                        <li class="banklist">
                            <span><img src="__ROOT__/static/wap/images/gb11.png" style="height:30px; position:relative; padding: 10px;" alt=""></span> 
                            <span>{$b.bank} ****{:substr($b['account'], strlen($b['account']) - 4, 4)} </span>                     
                            <span>{$b.name}</span> 
                            <i data-myid="{$b.id}" class="awesome"></i>
                        </li>
                    </ul>
                    {/volist}
                    <div class="addbank">
                        <a href="/index/user/add_card" class="">
                            <button type="button" class="el-button el-button--danger" id="l_addBankBtn"><span>绑定银行卡</span>
                            </button>
                        </a>
                    </div>
					<div class="addbank">
                        <a href="{:getInfo('service')}" class="el-button el-button--danger" id="l_addBankBtn">
                            修改银行卡请联系在线客服
                        </a>
                    </div>
				{else}
				 {/if}	
                </div>
            </div>
        </div>
        {include file="public/footer" menu='user'}
    </div>
</div>
</body>

</html>