{include file="public/header" nav="我的"}
<link rel="stylesheet" type="text/css" href="__ROOT__/static/theme/index/css/swiper.min.css"/>
<div id="app">
	<div class="box">
		<div class="content" style="width:100%;">
			<div class="f_box_mine slide">
				<!--                    <div class="t_header">-->
				<!--                        <span><img src="/static/wap/images/goback.png" alt="" onClick="javascript:history.back()"></span> -->
				<!--                        <span><i>个人中心</i></span>-->
				<!--                    </div>-->
				<div class="f_mine_box">
					<div class="f_mine" style="">
						<div class="f_mine_head">
							<div class="img_cion">
								<img src="{:getInfo('app_img')}" alt="" class="f_mine_header" data-src="{:getInfo('app_img')}" lazy="loaded" style="width: 100px;height: 20px;">
							</div>
<!--							<div class="name"><span>{$user.phone}</span></div>-->
							<div class="xinyong">
								<span>我的信用积分</span>
							</div>
							<div class="jindu">
								<span>/100</span>
								<div class="jindutiao"></div>
							</div>
<!--							<div class="level"><span>{$userleveltile.name}</span></div>-->
<!--							<div class="f_tab1">-->
<!--								<span>-->
<!--                                    <p>{$user.money}</p>-->
<!--                                    <p>可用余额</p>-->
<!--                                </span>-->
<!--								<span>-->
<!--                                    <p>0.00</p>-->
<!--                                    <p>已获赠金</p>-->
<!--                                </span>-->
<!--                                <span>-->
<!--                                    <a href="/index/user/recharge" class="">-->
<!--                                        充值-->
<!--                                    </a>-->
<!--                                </span> <span>-->
<!--                                    <a href="/index/user/cash" class="">-->
<!--                                        提现-->
<!--                                    </a>-->
<!--                                </span>-->
<!--							</div>-->
						</div>
						<div class="myslide">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="/static/wap/images/mys1.png" class="img-fluid" alt="">
									</div>
									<div class="swiper-slide">
										<img src="/static/wap/images/mys2.png" class="img-fluid" alt="">
									</div>
									<div class="swiper-slide">
										<img src="/static/wap/images/mys3.png" class="img-fluid" alt="">
									</div>
								</div>
							</div>
						</div>
						
						<div class="f_mine_body">
							<div class="f_table">
<!--								<div class="item" id="i2">-->
<!--									<a href="/index/user/inquiries" class=""> <img src="/static/wap/images/icon_my_search@2x.png" alt="" class="i2" data-src="/static/wap/images/icon_my_search@2x.png" lazy="loaded">-->
<!--										<p>平仓查询</p>-->
<!--									</a>-->
<!--								</div>-->
<!--								<div class="item" id="i3">-->
<!--									<a href="/index/user/fund" class=""> <img src="/static/wap/images/icon_my_revenue_and_expenditure@2x.png" alt="" class="i3" data-src="/static/wap/images/icon_my_revenue_and_expenditure@2x.png" lazy="loaded">-->
<!--										<p>收支明细</p>-->
<!--									</a>-->
<!--								</div>-->
<!--								<div class="item" id="i6">-->
<!--									<a href="/index/index/notice" class=""> <img src="/static/wap/images/icon_my_announcement@2x.png" alt="" class="i6" data-src="/static/wap/images/icon_my_announcement@2x.png" lazy="loaded">-->
<!--										<p>最新公告</p>-->
<!--									</a>-->
<!--								</div>-->
<!--								<div class="item" id="i7">-->
<!--									<a href="/index/user/bank_card" class=""> <img src="/static/wap/images/icon_my_bank_card@2x.png" alt="" class="i7" data-src="/static/wap/images/icon_my_bank_card@2x.png" lazy="loaded">-->
<!--										<p>银行卡</p>-->
<!--									</a>-->
<!--								</div>-->
								<!--  <div class="item" id="i8">
									  <a href="/index/user/recommend" class="">
										  <img src="/static/wap/images/icon_my_agency@2x.png" alt="" class="i8" data-src="/static/wap/images/icon_my_agency@2x.png" lazy="loaded">
										  <p>推广码</p>
									  </a>
								  </div>-->
<!--								<div class="item" id="i9">-->
<!--									<a onClick="window.open('{:getInfo('service')}','_blank');" class=""> <img src="/static/wap/images/icon_my_vouchers@2x.png" alt="" class="i9" data-src="/static/wap/images/icon_my_vouchers@2x.png" lazy="loaded">-->
<!--										<p>在线客服</p>-->
<!--									</a>-->
<!--								</div>-->
<!--								<div class="item">-->
<!--									<a href="/index/user/set_account" class=""> <img src="/static/wap/images/icon_my_cipher@2x.png" alt="" data-src="/static/wap/images/icon_my_cipher@2x.png" lazy="loaded">-->
<!--										<p>账号安全</p>-->
<!--									</a>-->
<!--								</div>-->
<!--								<div class="item">-->
<!--									<a href="/index/user/msg" class=""> {if $msg}-->
<!--										<div style="position:relative;right:-23px;top:15px;background:red;width:20px;height:20px;line-height:20px;border-radius:15px;">{$msg}</div>-->
<!--										{/if} <img src="/static/theme/index/img/xx.png" alt="" data-src="/static/theme/index/img/xx.png" lazy="loaded">-->
<!--										<p>站内消息</p>-->
<!--									</a>-->
<!--								</div>-->
								<!--<div class="item">-->
								<!--    <a href="{:getInfo('app')}" class="">-->
								<!--        <img src="/static/theme/index/img/icon_index_11.png" alt="" data-src="/static/theme/index/img/icon_index_11.png" lazy="loaded">-->
								<!--        <p>APP下载</p>-->
								<!--    </a>-->
								<!--</div>-->
<!--								<div class="item" id="i3">-->
<!--									<a href="/index/user/recharge_record" class=""> <img src="/static/wap/images/icon_my_revenue_and_expenditure@2x.png" alt="" class="i3" data-src="/static/wap/images/icon_my_revenue_and_expenditure@2x.png" lazy="loaded">-->
<!--										<p>充值记录</p>-->
<!--									</a>-->
<!--								</div>-->
<!--								<div class="item" id="i3">-->
<!--									<a href="/index/user/cash_record" class=""> <img src="/static/wap/images/icon_my_revenue_and_expenditure@2x.png" alt="" class="i3" data-src="/static/wap/images/icon_my_revenue_and_expenditure@2x.png" lazy="loaded">-->
<!--										<p>提现记录</p>-->
<!--									</a>-->
<!--								</div>-->
                                <div class="item" id="i10">
									<a href="/index/user/verified" class=""> <img src="/static/wap/images/idcard.png" alt="" class="i3" data-src="/static/wap/images/idcard.png" lazy="loaded">
										<p>实名认证
                                            {if condition="$user['rz_status'] eq 0"}
                                            <span style="background-color:#919189;margin-left:20px">&nbsp;&nbsp;未认证&nbsp;&nbsp;</span>
                                            {/if}
                                            
                                            {if condition="$user['rz_status'] eq 1"}
										    <span style="background-color:#CBC629;margin-left:20px">&nbsp;&nbsp;审核中&nbsp;&nbsp;</span>
										    {/if}
                                            {if condition="$user['rz_status'] eq 2"}
										    <span style="background-color:#39E230;margin-left:20px">&nbsp;&nbsp;已认证&nbsp;&nbsp;</span>
										    {/if}
                                            {if condition="$user['rz_status'] eq 3"}
										    <span style="background-color:#E2171C;margin-left:20px">&nbsp;&nbsp;未通过&nbsp;&nbsp;</span>
										    {/if}
										</p>
									</a>
								</div>
								<div class="item" id="i11">
									<a href="/index/user/set_account" class=""> <img src="/static/wap/images/my1.png" alt="" class="i3" data-src="/static/wap/images/icon_my_revenue_and_expenditure@2x.png" lazy="loaded">
										<p>密码修改</p>
									</a>
								</div>
								<div class="item" id="i12">
									<a onClick="window.open('{:getInfo('service')}','_blank');" class=""> <img src="/static/wap/images/my2.png" alt="" class="i3" data-src="/static/wap/images/icon_my_revenue_and_expenditure@2x.png" lazy="loaded">
										<p>在线客服</p>
									</a>
								</div>
								<div class="item" id="i13">
									<a href="/index/user/msg_view?id=1" class=""> <img src="/static/wap/images/my3.png" alt="" class="i3" data-src="/static/wap/images/icon_my_revenue_and_expenditure@2x.png" lazy="loaded">
										<p>隐私政策</p>
									</a>
								</div>
								<div class="item" id="i14">
									<a href="/index/user/msg_view?id=2" class=""> <img src="/static/wap/images/my4.png" alt="" class="i3" data-src="/static/wap/images/icon_my_revenue_and_expenditure@2x.png" lazy="loaded">
										<p>关于我们</p>
									</a>
								</div>
								<div class="item">
									<div>
										<a href="/index/user/logout" class=""> <img src="/static/wap/images/my4.png" alt="" data-src="/static/wap/images/icon_my_pull_out@2x.png" lazy="loaded">
											<p>退出登录</p>
										</a>
									</div>
								</div>
							</div>
							<div class="jun-empty"></div>
						</div>
					</div>
				</div>
			</div>
			{include file="public/footer" menu='user'}
		</div>
	</div>
</div>
<script src="__ROOT__/static/theme/index/js/swiper.min.js"></script>
<script>

var swiper2 = new Swiper('.myslide .swiper-container', {
    loop: true,
    autoplay: {
        delay: 3000
    },
	slidesPerView:1,
    pagination: {
        el: '.swiper-pagination',
    },
});
</script>
</body></html>
