{include file="public/header" nav="充值"}
<link rel="stylesheet" type="text/css" href="__ROOT__/static/wap/css/tipmask.css">
<link rel="stylesheet" type="text/css" href="__ROOT__/static/wap/css/box_pay.css">
<div id="app">
    <div class="box"><!---->
        <div class="jun-content">
            <div class="t_box_pay">
                <div class="t_header">
                    <span><img src="__ROOT__/static/wap/images/goback.png" alt="" onClick="javascript:history.back()"></span> 
                    <span><i>充值</i></span>
                </div>
                <div class="t_con_pay">
                    <div class="t_money"><i></i>
                    <label>温馨提示：点击收款账号和姓名可复制其内容</label>
                    </div>
                    <div class="payment">
                        <ul>
                            <li class="repeat_active">
                                <i></i><span>开户银行：{:getInfo('pay_bank_type')}</span><i></i>
                            </li>
                            <li class="repeat_active">
                                <i></i><span>开户网点：{:getInfo('pay_bank_type')}</span><i></i>
                            </li>
                            <li class="repeat_active">
                                <i></i><span>收款账号：<p style="display: inline-block;" id="card">{:getInfo('pay_bank_account')}</p></span><i></i>
                            </li>
                            <li class="repeat_active">
                                <i></i><span>收款姓名：<p style="display: inline-block;" id="name">{:getInfo('pay_bank_name')}</p></span><i></i>
                            </li>
                        </ul>
                    </div>
                    <div class="t_money"><i></i>
                        <label>温馨提示：确认转账成功后再进行充值金额提交</label>
                    </div>
                    <div class="payment othermon">
                        <ul>
                            <li><span style="color: #fff;margin-left: .2rem">充值金额：&nbsp;</span><input type="text" id="money" value="" style="padding-left:5px;background: #181f2f;color:#fff"></li>
                            <li><span style="color: #fff;margin-left: .2rem">存款姓名：&nbsp;</span><input type="text" id="truename" value="" style="padding-left:5px;background: #181f2f;color:#fff"></li>
                            <li><span style="color: #fff;margin-left: .2rem">转账附言：&nbsp;</span><input type="text" id="reason" value="" style="padding-left:5px;background: #181f2f;color:#fff"></li>
                        </ul>
                    </div >
                    <div class="t_pay_btn">
                       <button id="sub_btn" value="" type="button">充值</button>
                    </div>
                </div>
            </div>
        </div>
<!--        {include file="public/footer" menu='recharge'}-->
    </div>
</div>
<div class="tipMask hide">
    <div class="cont">
        <p class="title">温馨提示</p>
        <p class="stitle contents"></p>
        <div id="msgBtn">
            <div class="confirm guanbi">确定</div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="__ROOT__/static/theme/index/js/layer.js"></script>
<script type="text/javascript" src="__ROOT__/static/theme/index/js/clipboard.min.js"></script>
<script type="text/javascript">
    var clipboard = new Clipboard('#card', {
        text: function() {
            return $('#card').text();
        }
    });
    if(Clipboard.isSupported()) {
        clipboard.on('success', function(e) {
            layer.msg('复制成功');
        });
        clipboard.on('error', function(e) {
            layer.msg('复制成功');
            console.log(e);
        });
    } else {
        layer.msg('您当前系统和浏览器内核不支持复制,请手动复制打开微信');
    }
    var clipboard2 = new Clipboard('#name', {
        text: function() {
            return $('#name').text();
        }
    });
    if(Clipboard.isSupported()) {
        clipboard2.on('success', function(e) {
            layer.msg('复制成功');
        });
        clipboard2.on('error', function(e) {
            layer.msg('复制成功');
            console.log(e);
        });
    } else {
        layer.msg('您当前系统和浏览器内核不支持复制,请手动复制打开微信');
    }

    $(function () {
        $("#sub_btn").on("click", function () {
            var truename = $("#truename").val();
            var reason = $("#reason").val();
            var money = parseFloat($("#money").val()).toFixed(2);
            var auth = parseInt("{$user.auth}");

            if (isNaN(money)) {
                msg("错误", "充值金额有误！", 1);
                return false;
            }
            if (money < {$min_recharge}) {
                msg("错误", "最低充值金额{$min_recharge}元！", 1);
                return false;
            }
            
            if (truename.length < 2) {
                msg("错误", "请输入付款人姓名！", 1);
                return false;
            }
            var url = "/index/user/recharge";
            $.ajax({
                type : "POST",
                url : url,
                data: {money:money,type:'bank',truename:truename,reason:reason},
                dataType : "json",
                success : function(result){
                    if(result.code == 1){
                        msg("提示",result.info,2,"/index/user/recharge_record");
                    }else{
                        msg("提示",result.info,1);
                    }
                }
            });
        })
    })

    function msg(title, content, type, url) {
        $(".contents").html(content);
        if (type == 1) {
            var btn = '<div class="confirm guanbi" onclick="$(\'.tipMask\').hide();">确定</div>';
        }
        else {
            var btn = '<div class="confirm guanbi" onclick="window.location.href=\'' + url + '\'">确定</div>';
        }
        $("#msgBtn").html(btn);
        $(".tipMask").show();
    }
</script>
</html>
