
.t_box_login {
    padding-top: 80px;
    width: 100%;
}

.t_box_login .t_logo {
    margin: 0 20px;
    line-height: 57px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.t_box_login .t_logo img {
    width: 57px;
    height: 57px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.t_box_login .login_box {
    padding: 24px 20px;
}

.t_box_login .login_box .log-item {
    margin-bottom: 22px;
    display: flex;
    border-bottom: 1px solid #333;
}

.t_box_login .login_box .log-item i {
    flex: 0 0 60px;
    color: #fff;
    height: 58px;
    line-height: 58px;
}

.t_box_login .login_box .log-item input {
    background-color: transparent;
    color: #fff;
    font-size: 14px;
}

.t_box_login .login_box ul li ::-webkit-input-placeholder {
    color: #fff
}

.t_box_login .login_box ul li :-moz-placeholder,
.t_box_login .login_box ul li ::-moz-placeholder {
    color: #fff
}

.t_box_login .login_box ul li :-ms-input-placeholder {
    color: #fff
}

.t_box_login .login_box ul li:first-child {
    position: relative
}


/*.t_box_login .login_box ul li:first-child i {*/
/*    position: absolute;*/
/*    display: block;*/
/*    width: .466667rem;*/
/*    height: .466667rem;*/
/*    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAABL1BMVEVMaXH///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////82C+reAAAAZHRSTlMAKXkuqa368GE/0sX7AgRWVxJBUvb1ke/3wtDnv3fspHzPht6TjIhI5Sy+/D0xuU9qmoWhjc3pGxHkJ2239Fi4VAEDE4c1JAnWHFGZqKOwDo6DyyItL/3TW6XOZT6yDUweislHhyUp0AAAAYhJREFUGBl9wYWW2gAARcEHBHf3dXd3d3f3be//f0NpKSdLSJhRE1dPr9/v7+1xyUm0K0JdpCsqW7FOoDv3nesGOmOy0w8diaSkZKID+mVjLEI2qLpglsiYWs1CXA1xmFWLxWWKMhVZXpRVEFZlWoWgrFKQlikNKVkFIS1TGoKySkFApgCkZLWyjiGTwfqKrGKbZPbVsJ9hM6YWW3B0qbrLI9hSq20v3Nzrr/sb8G7LxnEI8s9Pv5+e8xA6lq1bLw3eWzl5fc8C2fdXtfNWrVbf5GTnIHFVeXwJhUIvj5WrxMGOrJbiXh8/+bzxJTWZmqfGVzo7dbvdp2clHzXzUzINTwAFY8Ozq7pdz4ZRACaG9d/gEOSnXVH9FHVN52FoUP9MjsLIuFqNj8DopGo8CzAgewOw4JIOf8GMnMxA+FAnsCZna3CiCzIeOfNkuFAZQ+0YlFXgWu1cU5CP4l1STpJ3RXyqwEPpfG+uzx1o5u6b2zsvPUBFX2HaC39JH5+5cNlvrxzOfX7oD/8DaDlP9InoAAAAAElFTkSuQmCC) no-repeat 50%;*/
/*    background-size: cover;*/
/*    top: 50%;*/
/*    left: .266667rem;*/
/*    transform: translateY(-50%)*/
/*}*/

.t_box_login .login_box ul li:nth-child(2) {
    position: relative
}


/*.t_box_login .login_box ul li:nth-child(2) i {*/
/*    position: absolute;*/
/*    display: block;*/
/*    width: .466667rem;*/
/*    height: .56rem;*/
/*    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAjCAMAAABfPfHgAAABDlBMVEVMaXH///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8V00MkAAAAWXRSTlMAQwIE0BvufeKFmcfmGknG23qsUjYw+XhIDSMOiHtMDwqBz3O1y4ezHFCiqx3g6+1G41TxVkfSfAabhK0DB3kQCDzNjt5Z5Y+31wsMXb300drysLF2d4LVssCQZ1gAAAE/SURBVDjLddDHVsJQFEbhQ7BA6EWaFEURBJSqSFUsCAr2tt//RRyokMTcPbr/+gbJOiLLfP6rwGfgyu8Tm26u+en65p8NdODS/eG+BPSBRbvgGZ+LyPnYA10ztqE//H0P+9A2Yi7P6dlynZ2Szxk0CyeGeQJZw8wQ3DHMnSCZ1dLC6Kbf0Alry+HcZ9Okm+w7V1pk16S7FFcqFfZMukfl71l11D2UHcbKeOqOqohI8wj7jpoih0CrtmGt1gIOpcCxv+Rbt+Yr+Y8piJcDse8ArzQIKTREQ1yWQxhP4jJpMv2YTqpUewFeNYWmHoDnlEK3g8DTtuq7cSCu/KsEkFBqBIgodStGbEupEg1F1dewu1VHoR1c4uVNoe94ZUL4whYvvpjILUxHPbe13mgKt3K/QNXiXuRuHpit/W8WmN/JN/yQUtp1pBM7AAAAAElFTkSuQmCC) no-repeat;*/
/*    background-size: cover;*/
/*    top: 50%;*/
/*    left: .266667rem;*/
/*    transform: translateY(-50%)*/
/*}*/


.t_box_login .login_box .lk-item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #fff;
}


.t_box_login .login_box .op-item button {
    display: block;
    width: 100%;
    height: 48px;
    margin: 7px 0;
    font-weight: 400;
    background-color: #f8e16d;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    line-height: 2.55555556;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
}

.t_box_login .login_box .reg-item {
    margin: 30px 0;
    text-align: center;
    color: #fff;
}

.t_box_login .login_box .reg-item a {
    color: #f8e16d;
}