/*历史记录页面*/
.trade_hi{
	background: #21212b;
	color: #ffffff;
}
.trade_hi p{
	margin: 0;
}

.trade_history{
	background: #21212b;
	color: #ffffff;
}
.trade_history p{
	margin: 0;
}
.trade_history header{
	width: 100%;
	height: 40px;
	background: #21212b;
	display: flex;
}
.trade_history header article{
	flex: 1;
	height: 100%;
	border-bottom: 1px solid #181818;
}
.trade_history header article p{
	/*height: 0.23rem;*/
	/*margin: 0.06rem 0;*/
	line-height: 40px;
	text-align: center;
	/*font-size:0.15rem ;*/
	color:#828095
	
}
.trade_history header article.active p{
	color: #fff;
}

.trade_history_list{
	width: 100%;
	height: 94%;
}

.trade_history_list .empty{
	padding:50px 0 0 ;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	color: #828095;
	line-height: 37px;
}
.trade_history_list .empty img{
	width:27px;
	height:26px;
}
.trade_history_list .empty p{
	display:block;
	font-size:12px;
	color:#828095
}

.trade_history_list ul{
	width: 100%;
	
	background: #323232;
}
.trade_history_list ul li{
	width: 100%;
	border-top:1px solid #21212b;
	border-bottom:1px solid #21212b;
	color: #FFFFFF;
	background: #21212b;
	position: relative;
}
.trade_history_list ul li article{
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 12px;
	left: 0;
	bottom: -12px;
	background: transparent;
}
.trade_history_list ul li article i{
	display: inline-block;
	vertical-align: top;
	margin-top:12px ;
	width:12px;
	height: 12px;
	border-radius:50% ;
	background: #ffe88a;
	box-shadow: 0 0 0.05rem yellow;
	float: right;
}
.trade_history_list ul li article i em{
	display: block;
	width: 4px;
	height: 4px;
	margin:4px;
	background: #ffffcd;
}
.trade_history_list ul li article span{
	display: inline-block;
	vertical-align: top;
	margin-top:5px ;
	background: #159aef;
	float: right;
}
.trade_history_list ul li section{
	display: inline-block;
	vertical-align: top;
	padding-top: 5px;
	text-align: center;
}
.trade_history_list ul li section:nth-of-type(1){
	width: 60%;
	padding-left:2%;
}
.trade_history_list ul li section:nth-of-type(2){
	width: 40%;
	padding-right: 2%;
}
.trade_history_list ul li section:nth-of-type(1) p{
	text-align: left;
	font-size: 12px;
}
.trade_history_list ul li section:nth-of-type(1) p:nth-of-type(1){
}
.trade_history_list ul li section:nth-of-type(1) p:nth-of-type(1) span:nth-of-type(1){
	display: inline-block;
	vertical-align: top;
	width: 45%;
	height: 100%;
	font-size: 12px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.trade_history_list ul li section:nth-of-type(1) p:nth-of-type(1) span:nth-of-type(2){
	font-size:12px;
}
.trade_history_list ul li section:nth-of-type(1) p:nth-of-type(1) span:nth-of-type(2) i{
	display: inline-block;
	vertical-align: middle;
	margin-right:5px;
	width: 12px;
	height: 12px;
}
.trade_history_list ul li section:nth-of-type(1) p:nth-of-type(1) span:nth-of-type(2) .buytop{
	background: url(../images/buytop.png);
	background-size:100% 100% ;
}
.trade_history_list ul li section:nth-of-type(1) p:nth-of-type(1) span:nth-of-type(2) .buydown{
	background: url(../images/buydown.png);
	background-size:100% 100% ;
}
.trade_history_list ul li section:nth-of-type(1) p:nth-of-type(3){
	color: #696969;
}
.trade_history_list ul li section:nth-of-type(2) p:nth-of-type(1){
	font-size: 12px;
	text-align: right;
}
.trade_history_list ul li section:nth-of-type(2) p:nth-of-type(2){
	font-size: 12px;
	text-align: right;
}
